/* general styles */

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Arial, Helvetica;
}

li a{
    color: #01b1ea;
}

#login a{
    color: #01b1ea;
}

#logo a{
    color: #01b1ea;
}

li a:visited{
    color: #01b1ea;
}

#login a:visited{
    color: #01b1ea;
}

#logo a:visited{
    color: #01b1ea;
}

li a:hover{
    color: #555555;
}

#login a:hover{
    color: #555555;
}

#logo a:hover{
    color: #555555;
}

/* container */
#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background-color: white;
}

/* header */

#header{
    height: 145px;
    background-color: #f0f0f0;
}
#logo{
    padding: 23px;
    margin-left: 8px;
    float: left;
}
#logo img{
    float: left;
    height: 100px;
}
#logo a{
    float: left;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: sans-serif, Arial, Helvetica;
    text-transform: uppercase;
    color: #01b1ea;
    font-weight: bold;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

/* MENU */
#menu{
    clear: both;
    background-color: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01b1ea;
}


#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float:  left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;
}

#menu a:hover{
    background-color:  #01b1ea;
}
.product img{
    width: 100px;
}
/* PRODUCTS */

#logo a:hover{
    text-shadow: 0px 2px 1px #01b1ea, 0px 0px 4px #01b1ea;
    color: #01b1ea;

}
.product img{
    width: 200px;
}