/* general styles */

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Arial, Helvetica;
}

li a{
    color: #01b1ea;
}

#login a{
    color: #01b1ea;
}

#logo a{
    color: #01b1ea;
}

li a:visited{
    color: #01b1ea;
}

#login a:visited{
    color: #01b1ea;
}

#logo a:visited{
    color: #01b1ea;
}

li a:hover{
    color: #555555;
}

#login a:hover{
    color: #555555;
}

#logo a:hover{
    color: #555555;
}

/* container */
#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background-color: white;
}

/* header */

#header{
    height: 145px;
    background-color: #f0f0f0;
}
#logo{
    padding: 23px;
    margin-left: 8px;
    float: left;
}
#logo img{
    float: left;
    height: 100px;
}
#logo a{
    float: left;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: sans-serif, Arial, Helvetica;
    text-transform: uppercase;
    color: #01b1ea;
    font-weight: bold;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

/* MENU */
#menu{
    clear: both;
    background-color: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01b1ea;
}


#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float:  left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;
}

#menu a:hover{
    background-color:  #01b1ea;
}
.product img{
    width: 100px;
}

/* CONTENT */

#content{
    margin: 0px auto;
    overflow: hidden;
    background-color: white;
}

/* aside */

#aside{
    width: 21%;
    min-height: 500px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#aside .block_aside{
    display: block;
    width: 90%;
    margin: 5px aouto;
    padding: 10px;
}

#aside h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border-bottom: 1px solid #01b1ea;

}
#aside ul{
    margin-top: 20px;
    margin-bottom: 20px;
}
#aside ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* forms */
label, input[type="text"],
input[type="password"],
input[type="email"],
select{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

label{
    display: block;
    margin-top: 10px;
}
input[type="text"],
input[type="password"],
input[type="email"],
select{
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button, .button{
    display: block;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979cd;
    border: 1px solid #11608e;
    cursor: pointer;
}

.button{
    background: #0dea01;
    color: white !important;
}

/* center content */

#center{
    width: 72%;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

#center h1{
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

/* PRODUCTS */

#logo a:hover{
    text-shadow: 0px 2px 1px #01b1ea, 0px 0px 4px #01b1ea;
    color: #01b1ea;

}

.product{
    width: 30%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 500px;
    text-align: center;
}

.product img{
    width: 200px;
    margin-bottom: 10px;
}

.product a{
    text-decoration: none;
    color: #01b1ea;
}

.product p{
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.product h2{
    margin-bottom: 10px;
}